#test_section_header {
	text-align: center;
	font-size: 2rem;
	text-transform: uppercase;
	margin: 2rem 0;
}

#test_article {
	padding: 0 10rem;
	font-size: 1.25rem;
	text-align: justify;
	text-indent: 1rem;
	margin-bottom: 10rem;
}

#start_html_test,
#start_css_test,
#start_javascript_test {
	display: block;
	margin: 0 auto 10rem auto;
	border: none;
	padding: 16px 32px;
	text-align: center;
	font-size: 1.125rem;
	opacity: 1;
	background-color: dimgray;
	cursor: pointer;
}

#start_html_test:hover,
#start_css_test:hover,
#start_javascript_test:hover {
	opacity: .6;
}